<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.AzureBlobStorage"/>
	</extensions>

	<targets>
		<!-- Azure Blob Storage Target -->
		<target xsi:type="AzureBlobStorage"
				name="azureblob"
				connectionString="${gdc:item=StorageConnectionString}"
				container="nlogs"
				blobName="${date:format=dd-MMMM-yyyy}.json">
			<layout xsi:type="JsonLayout" includeMdlc="true">
				<attribute name="correlationId" layout="${aspnet-request:header=x-correlation-id}"/>
				<attribute name="time" layout="${longdate}"/>
				<attribute name="level" layout="${uppercase:${level}}"/>
				<attribute name="message" layout="${message}"/>
				<attribute name="errorCode" layout="${event-properties:item=ErrorCode}"/>
				<attribute name="exception" layout="${exception:format=tostring}"/>
				<attribute name="requestid" layout="${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}"/>
				<attribute name="area" layout="${event-properties:item=Area:whenEmpty=${logger}}"/>
			</layout>
		</target>
	</targets>

	<rules>
		<!-- Log Microsoft hosting and diagnostics messages to Azure Blob Storage only at Fatal level -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Fatal" final="true" writeTo="azureblob"/>
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Fatal" final="true" writeTo="azureblob"/>

		<!-- Log everything else to both Azure Blob Storage and Local File at appropriate levels -->
		<logger name="*" minlevel="Info" maxlevel="Error" writeTo="azureblob"/>
	</rules>
</nlog>
